[Unit]
Description=Testnet Core Lightning Daemon
Requires=bitcoind-testnet.service
After=bitcoind-testnet.service

[Service]
EnvironmentFile=/home/cln/.lightning/testnet-env
ExecStart=/usr/local/bin/lightningd --conf=/home/cln/.lightning/testnet-config --testnet --log-file=- --log-file=/home/cln/.lightning/testnet/lightning.log --pid-file=/home/cln/.lightning/testnet/lightningd-testnet.pid
PIDFile=/home/cln/.lightning/testnet/lightningd-testnet.pid
User=cln
Group=cln
Type=simple
KillMode=control-group
TimeoutStopSec=30
TimeoutStartSec=180
Restart=always
RestartSec=60
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
